# Google Gemini AI Config
GEMINI_API_KEY=your_google_gemini_api_key_here

# MongoDB Atlas Database URI Connection String
MONGODB_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/gradeops?retryWrites=true&w=majority
